@use '../variables' as *;

.btn {
  font-size: $font-size-sm;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  border-radius: 50px;
  text-transform: uppercase;
  border: 0; 
  cursor: pointer;
  outline: none;
  &--primary { 
    background: $color-accent; 
    color: $color-white;
  }
}